
.ui-menubar,.ui-menu-child,.ui-menu {
    background: transparent;
    border: transparent;
}

#top {
    position: relative;
    /*background-color: #76A5CF;*/
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}


#top2 {
    /*    position: relative;
        background-color: #294171;
        color: white;
        padding: 5px;
        margin: 0px 0px 10px 0px;*/
}

#bottom {
    position: relative;
    background-color: #76A5CF;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    /*    float: left;
        bottom: 0px;
        position: relative;
        background-color: #294171;
        background-repeat: repeat-y;
        padding: 15px;
        width: 200px;*/
}

#left2 {
    float: left;
    /*    background-color: #294171;*/
    padding: 5px;
    max-width: 780px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#content2 {
    /*padding: 100px;*/
    float: right;       
    max-width: 950px;
    margin: 0px 0px 10px 10px;
}

.center_content {    
    position: relative;
    /*background-color: #dddddd;*/
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}